{{ tableau_owner }} soft core unlimited
{{ tableau_owner }} hard core unlimited
{{ tableau_owner }} soft stack 32768
{{ tableau_owner }} hard stack 32768
{{ tableau_owner }} soft nofile 131072
{{ tableau_owner }} hard nofile 131072
{{ tableau_owner }} soft noproc 131072
{{ tableau_owner }} hard noproc 131072
